@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #0F1F4B;
    --accent-color: #F75C4E;
    --accent-light: #FFD5CF;
    --accent-blue: #3C6FFF;
    --neutral-gray: #A0A3B1;
    --success-green: #2ECC71;
    --gold-accent: #FFB648;
}

html {
    scroll-behavior: smooth;
}


body {
    background-color: var(--primary-color);
    font-family: "poppins";
}

/*==============================================================================================================================================================*/
/*Navigation overlay*/

.section-nav {
    z-index: 1000;
    position: fixed;
    background-color: var(--accent-color);
    width: 100%;
    height: 100%;
    margin: 0;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 0.4s ease;
}

.head-nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.header-name-nav {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 1rem;
}

.header-logo-nav {
    color: var(--primary-color);
}

.section-nav img {
    height: 35px;
    padding: 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--primary-color);
    padding: 1rem;
    margin-bottom: 5rem;
}

.menu-item {
    margin: 0;
    padding: 0;
}

.extra-margin {
    margin-top: 2.5rem;
}

.footer {
    width: 100%;
    text-align: center;
    color: var(--primary-color);
    font-weight: 300;
    font-size: 0.9rem;
}

.section-nav.active {
    transform: translateX(0%);
}

a {
    color: inherit;
    text-decoration: none;
}

li:hover {
    color: var(--accent-color);
}


/*==============================================================================================================================================================*/
/*Header*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: none;
}

.header-name {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 1rem;
}

.header-logo {
    color: var(--accent-color);
}

.header img {
    height: 35px;
    padding: 0.5rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
}

/*==============================================================================================================================================================*/
/*Hero*/

.hero {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0;
    padding: 1rem;
    margin-top: 1rem;
}

.hi {
    font-size: 1.25rem;
    color: white;
    font-weight: 300;
    margin: 0;
}

.hero-name {
    margin: 0;
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.hero-name-styled {
    color: var(--accent-color);
}

.hero-intro {
    margin: 0;
    font-size: 2rem;
    color: white;
    font-weight: 350;
}

.hero img {
    max-width: 450px;
    width: 100%;
}

.contact-btn {
    display: none;
}

/*==============================================================================================================================================================*/
/*About section*/

.about-section {
    margin: 0;
    padding: 1rem;
}

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section img {
    width: 300px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.about-para {
    font-size: 1rem;
    color: white;
    text-align: justify;
    margin: 0;
    margin-top: 1.5rem;
}

/*=============/*==============================================================================================================================================================*/
/*Education section*/

.title {
    color: var(--accent-color);
    font-size: 2.5rem;
    font-weight: 700;
    padding: 1rem;
    margin: 0;
}


.edu-items {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
}

.edu-item {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
}

.edu-name {
    color: var(--success-green);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.edu-place {
    color: #3C6FFF;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
}

.edu-result {
    color: var(--accent-light);
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
}

.edu-duration {
    color: #A0A3B1;
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.edu-item-right {
    text-align: right;
}

/*==============================================================================================================================================================*/
/*skills*/

.skills-section {
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.skill-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

.skill-item-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
    align-items: center;
}

.skill-item-img img {
    width: 45%;
}

.skill-item-text {
    display: flex;
    flex-direction: column;
}

.skill-name {
    font-size: 1.25rem;
    color: white;
    font-weight: 600;
    align-self: center;
}

.skill-pc {
    display: none;
}

/*==============================================================================================================================================================*/
/*footer*/

.footer-main{
    text-align: center;
    color: var(--accent-color);
    font-weight: 300;
    font-size: 0.9rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
}

/*==============================================================================================================================================================*/
/*Bigger screens*/

@media (min-width: 1024px) {
    .header-name {
        padding-left: 0;
    }

    .header img {
        display: none;
    }

    .section-nav {
        display: none;
    }

    .header {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    nav {
        display: flex;
    }

    nav ul {
        display: flex;
        gap: 2.5rem;
    }

    li {
        list-style: none;
        font-size: 1rem;
        font-weight: 600;
        color: white;
    }

    .hero {
        display: flex;
        flex-direction: row;
        padding: 8rem;
        justify-content: space-between;
        align-items: center;
    }

    .text-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 60%;
    }

    .hero img {
        max-width: 600px;
        width: 500px;
    }

    .contact-btn {
        display: block;
        width: 10rem;
        height: 4rem;
        font-size: 1rem;
        font-weight: 900;
        background-color: var(--accent-color);
        border: none;
        margin-top: 1rem;
        border-radius: 0.8rem;
        color: white;
    }

    .education {
        padding: 8rem;
    }
    .title {
        text-align: center;
        font-size: 3.5rem;
    }

    .edu-name {
        font-size: 2rem;
    }

    .edu-place {
        font-size: 1.75rem;
    }

    .edu-duration, .edu-result {
        font-size: 1.5rem;
    }

    .about-section {
        padding: 8rem;
    }

    .about-para {
        font-size: 1.25rem;
    }

    .skill-item-text, .skill-items {
        display: none;
    }

    .skills-section{
        padding: 8rem;
    }

    .skill-pc {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: space-between;
    }

    .skill-pc img {
        width: calc((100% / 4 ) - 5rem);
        padding: 1rem;
    }

}

@media (min-width: 1440px) {
    .hi {
        font-size: 2rem;
    }

    .hero-intro {
        font-size: 2.3rem;
    }

    .hero-name {
        font-size: 3.5rem;
    }

    .hero img {
        width: 550px;
    }

    .about-section img {
        width: 400px;
    }

    .about-para {
        font-size: 1.5rem;
    }

}